
.b12 {
    display: block;
    height:auto;
    width: 100%;
}
.B11 {
    width: 100%;
    display: block;
}
.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10, .d11, .d12, .d13,
 .d14, .d15, .d16, .d17, .d18, .d19, .d20, .d21, .d22, .d23, .d24 { 
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    transition: width 2s, height 2s, transform 2s ;
}

.d1:hover, .d2:hover, .d3:hover, .d4:hover, .d5:hover, .d6:hover, .d7:hover, .d8:hover, .d9:hover, .d10:hover, .d11:hover, .d12:hover, .d13:hover,
 .d14:hover, .d15:hover, .d16:hover, .d17:hover, .d18:hover, .d19:hover, .d20:hover, .d21:hover, .d22:hover, .d23:hover, .d24:hover { 
    width: 110px;
    height: 80px;
    transform: rotate(20deg);
 }


 .ul_b1 {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    overflow:scroll;
    background-color: rgb(80, 80, 158);
}
.li_b1 {
    display: inline-block;
    width: 25%;
    float:top;
}

.li_b1 a {
    padding:20px;
    color:white;
    display:inline-block;
    text-decoration:none;
}
.li_b1 a:hover {
    background-color:gray;
    color:black;
}
