.img1 {
    width: 70px;
    height: 50px;
}
.img2 {
    width: 70px;
    height: 50px;
}
.img3 {
    width: 70px;
    height: 50px;
}

.img4 {
    width: 70px;
    height: 50px;
}

.img5 {
    width: 70px;
    height: 50px;
}

.img6 {
    width: 70px;
    height: 50px;
}
.img7 {
    width: 70px;
    height: 50px;
}
.img8 {
    width: 70px;
    height: 50px;
}
.img9 {
    width: 70px;
    height: 50px;
}

.img10 {
    width: 70px;
    height: 50px;
}

.img11 {
    width: 70px;
    height: 50px;
}

.img12 {
    width: 70px;
    height: 50px;
}
.img13 {
    width: 70px;
    height: 50px;
}

.img14 {
    width: 70px;
    height: 50px;
}

.img15 {
    width: 70px;
    height: 50px;
}

.img16 {
    width: 70px;
    height: 50px;
}

