.ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    background-color: rgb(10, 10, 108);
}
.li {
    width: 25%;
    float:left;
}

.li a {
    padding:20px;
    color:white;
    display:block;
    text-decoration:none;
}
.li a:hover {
    background-color:gray;
    color:black;
}

